.modal_overlay {
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(244, 242, 242, 0.9);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_container {
  max-width: 500px;
  border-radius: 12px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 10px 25px 25px;
}

.modal_nav {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.modal_nav button {
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.modal_container .modal_body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal_container .modal_footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
